.server-notifications-wrapper {
  z-index: 1000;
  position: fixed;
}

.top-right {
  top: 100px;
  right: 16px;
  animation: notification-in-right .7s;
}

@keyframes notification-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
