.locale-selector{
    height: 40px;
    width: 40px;
    border-radius: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.locale-button{
    transition: all 0.3s 0.1s;
    position: absolute;
    top: 0;
    border-radius: 23px;
    left: 0;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none !important;
    overflow: hidden;

    background: #606274;
    color: white;
}

.locale-button.opened{
    transition: all 0.3s;
    top: 41px;
}

.locale-button.selected{
    z-index: 3;
    top: 0
}

.inner-text{
    transition: all 0.3s;
    transform: translateY(0);
}